name: SonarQube

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    steps:
      - if: env.SONAR_TOKEN != null
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        if: env.SONAR_TOKEN != null
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Cache SonarQube packages
        if: env.SONAR_TOKEN != null
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup Gradle
        if: env.SONAR_TOKEN != null
        uses: gradle/actions/setup-gradle@v5

      - name: Build and analyze
        if: env.SONAR_TOKEN != null
        run: ./gradlew build sonar --info
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
